@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-radial-top {
  background-image: radial-gradient(
    ellipse at top,
    var(--tw-gradient-stops) 70%
  );
}

#logo-head {
  transform: translateX(35%);
  transition: transform 0.5s ease-in-out;
}

#logo-text {
  transform: translateX(-35%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#logo:hover #logo-head {
  transform: translateX(0%);
}

#logo:hover #logo-text {
  opacity: 1;
  transform: translateX(0%);
}

.container {
  @apply max-w-2xl mx-auto px-6 w-full;
}

/* Remove the ▶ icon from details summary */
details {
  @apply list-none;
}
summary::marker,
summary::-webkit-details-marker {
  @apply hidden content-none;
}
